body {
    margin: 0;
    padding: 0;
}

#popup {
    min-width: 600px;
    height: 400px;
}

#bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: #8e8e8e;
}

#changeViewButton {
    float: left;
    border: none;
    outline: none;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

#savingIndicator {
    float: left;
    padding: 2px;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    color: #bfbfbf;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

#openNotesButton {
    float: left;
    border: none;
    outline: none;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0);
    color: #000;
    transition: all 0.3s ease-in-out;
}

textarea {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    width: 99%;
    height: calc(100% - 20px);
    float: right;
    word-wrap: break-word;
    overflow: auto;
    resize: none;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;    
}

#markdownTarget {
    border: none;
    margin: 0;
    padding: 0;
    margin-left: 1%;
    width: 99%;
    height: calc(100% - 20px);
    word-wrap: break-word;
    overflow: auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}